/* Los estilos de tu proyecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin-top: 50px;
}
.white-color {
    background-color: #fff;
}
.download-app {
    display: block;
    margin-top: 12px;
}
.white-letter {
    color: #fff;
}
h3 {
    display: inline;
}
.display {
    display: none;
}
.logo-white {
    width: 18vw;
    display: inline;
    margin-bottom: 5px;
    margin-left: 10px;
}
.float-left {
    float: left;
    margin-left: 15px;
}
.show-like {
    display: block;
}
.float-right {
    float: right;
}
.phone-image {
    width: 60vw;
}
.margin-second-section {
    margin: 1em;
}
.border-white {
    border: 1px solid #fff;
}
.text-second-container {
    display: block;
}
nav {
    outline: 1px solid green;
}
.city-image {
    background-image: url("../assets/images/taxi.jpg");
    background-position: bottom;
    background-size: cover;
    height: 55vh;
}

.yellow-background {
    background-color: #FFC107;
}
.yellow {
    background-color: #FFC107;
    height: 24vh;
    width: 75vw;
    margin: 14vh 0;
    padding: 1.5rem;
}
.bold {
    font-weight: 600;
}
ul {
    /*outline: 1px solid red;*/
    float: left;
}
img {
    /*outline: 1px solid blue;*/
}
.menu-bar-options:hover {
    font-weight: 600;
    font-size: 22px;
    border-left: 5px solid #FFC107;
}
.download-text-display {
    width: 50%;
    display: none;
}
.logo-image {
    margin-left: 15vw;
}
.increse-height {
    margin-top: 187px;
    transition-property: margin-top;
    transition-duration: 0.5s;
}
.decrease-height {
    margin-top: 50px;
    transition-property: margin-top;
    transition-duration: 0.4s;
}
.display-divOne {
    display: block;
}
.display-divTwo {
    display: none;
}
.text-white {
    color: #fff;
}
.drive-section {
    padding: 15vh 8vw;
}
.drive-image {
    background-image: url('../assets/images/conduce.jpg');
    background-size: cover;
    height: 300px; 
}
.background-dark {
    background-color: rgba(0,0,0,0.7);
    height: 100%;
}
.text-second-container {
    margin-left: 1.5em;   
}
.map-container-height-margin {
    height: auto;
    margin: 8vh 0 3vh 0;
}
.border-white {
    border: 1px solid #fff;
}
.footer-labC {
    margin: 0.7em 0;
}
.border-bottom-white {
    border-bottom: 1px solid #fff;
    padding-bottom: 1em;
}
.footer-menu {
    color: #fff;
    margin: 1em 0;
    cursor: pointer;
}
.footer-menu:hover {
    color: #FFC107;
}
.footer-icon {
    margin: 0.3em;
}
.store-logo-footer {
    width: 8em;
    height: auto;
    margin: 0.3em;
}
.icons-container {
    margin-bottom: 0.5em;
}
.copyright {
    border-top: 1px solid #fff;
    padding-top: 0.8em;
}
.font-size-mini {
    font-size: 12px;
}
.float-options {
    float: left;
}
.navbar {
    outline: 1px solid green;
}
/*map style*/
#map {
     height: 30vh;
     width: 100%;
    margin: 2vh 0;
     }
.map-container {
    padding-bottom: 4vh;
}


/*FORM*/
.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

@media (min-width: 425px) {
    .yellow {
    height: 25vh;
    width: 60vw;
    margin: 14vh 0;
    padding: 1.5rem;
    }
    .new-app-title {
        font-size: 24px;
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    .navbar {
        padding: 10px 5px;
    }
    .float-options {
    float: right;
    }
    .city-image {
    height: 80vh;
    }
    .yellow {
    height: 50vh;
    width: 47vw;
    padding: 0.5em 1.8em;
    }
    .logo-white {
    width: 10vw;
    margin-bottom: 0.3px;
    margin-left: 0.2vw;
    margin-top: 0.3vh;
    }
    .style-title {
        color: #fff;
        font-weight: 600;
    }
    .display {
        display: inline;
        font-size: 17px;
        margin-right: 0.6em;
    }
    .blockOr {
        display: block;
    }
    .display-line{
       
        margin: 0.6em;
        font-size: 13px;
        text-align: center;
        color: #fff;
    }
    .display-line::after, .display-line::before {
        content: " ";
        display: inline-block;
        width: 7em;
        height: 1px;
        background: #fff;
        margin-bottom: 0.8vh;
    }
    .display-line::before {
        margin-right: 0.5em;
    }
    .display-divOne {
    display: none;
    }
    .display-divTwo {
    display: block;
    }
    .phone-image {
    width: 30vw;
    }
    .phone-first-text-display {
    display: none;
    }
    .download-text-display {
        display: inline-block;
        color: #fff;
        margin: 1rem 0.5rem 0.5rem 1.5rem;
    }
    .download-title {
        line-height: 3em;
    }
}
